body {
  background-color: paleturquoise
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div{
  border: 1px solid grey;
  flex-grow: 1;
  height: 8%;
  width: 8%;
}

.wall {
  background-color: blue;
}

.emptySpace {
  background-color: whitesmoke;
}

.secretPassage {
  background-color: palevioletred;
}

.character {
  border: none;
  background: url("") no-repeat center;
}